/* Status badge */

.swagger-ui .tests-report-status-pass {
    background-color: rgba(21, 193, 19, 0.8);
    border-color: rgba(21, 193, 19, 1);
    color: white;
}

.swagger-ui .tests-report-status-warning, .swagger-ui .tests-report-status-skipped {
    background: rgba(193, 131, 19, 0.8);
    border-color: rgba(193, 131, 19, 1);
    color: white;
}

.swagger-ui .tests-report-status-fail, .swagger-ui .tests-report-status-failure, .swagger-ui .tests-report-status-error {
    background: rgba(194, 19, 36, 0.8);
    border-color: rgba(194, 19, 36, 1);
    color: white;
}

/* Detail popup */

.swagger-ui .dialog-ux.tests-report-detail .modal-ux {
    max-width: 1000px;
}

.swagger-ui .dialog-ux.tests-report-detail .modal-ux-content {
    max-height: 640px;
}

.swagger-ui .tests-report-detail .tests-report-testcase {
    margin-bottom: 15px;
}

.swagger-ui .tests-report-detail .tests-report-testcase h4 {
    line-height: 1.35;
}

.swagger-ui .tests-report-detail .tests-report-testcase .tests-report-status {
    font-family: sans-serif;
    font: 400 13.3333px Arial;
    margin: 0;
    padding: 1px 6px;
    border-width: 2px;
    margin-right: 15px;
}

.swagger-ui .tests-report-detail .tests-report-testcase .tests-report-testcase-message {
    font-size: 11px;
}
